
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.bin
*.hex
*.elf

build/
bin/
.ipynb_checkpoints/

*.d
*.slo
*.lo
*.gch
*.pch
*.ilk
*.pdb
*.dwo

*.lai
*.la
*.a
*.lib
*.mod
*.smod

.DS_Store
Thumbs.db